<ion-item>
    <ion-label position="floating">{{ 'CARS.CAR' | translate }}</ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
</ion-item>
<ion-item>
    <ion-label position="floating">{{ 'CARS.MANUFACTURER' | translate }}</ion-label>
    <ion-input [(ngModel)]="manufacturer"></ion-input>
</ion-item>
<ion-item>
    <ion-label position="floating">{{ 'CARS.MODEL' | translate }}</ion-label>
    <ion-input [(ngModel)]="model"></ion-input>
</ion-item>
<ion-item>
    <ion-label position="floating">{{ 'CARS.STEERING' | translate }}</ion-label>
    <ion-range min="0" max="10" pin color="secondary" snaps="true" [(ngModel)]="steering">
        <ion-icon slot="start" size="small" name="contrast"></ion-icon>
        <ion-icon slot="end" name="contrast"></ion-icon>
    </ion-range>
</ion-item>
<ion-item>
    <ion-label position="floating">{{ 'CARS.DRIFT' | translate }}</ion-label>
    <ion-range min="0" max="10" pin color="secondary" snaps="true" [(ngModel)]="drift">
        <ion-icon slot="start" size="small" name="contrast"></ion-icon>
        <ion-icon slot="end" name="contrast"></ion-icon>
    </ion-range>
</ion-item>
<ion-item>
    <ion-label position="floating">{{ 'CARS.ACCELERATION' | translate }}</ion-label>
    <ion-range min="0" max="10" pin color="secondary" snaps="true" [(ngModel)]="acceleration">
        <ion-icon slot="start" size="small" name="contrast"></ion-icon>
        <ion-icon slot="end" name="contrast"></ion-icon>
    </ion-range>
</ion-item>
<ion-item>
    <ion-label position="floating">{{ 'CARS.SPEED' | translate }}</ion-label>
    <ion-range min="0" max="10" pin color="secondary" snaps="true" [(ngModel)]="speed">
        <ion-icon slot="start" size="small" name="contrast"></ion-icon>
        <ion-icon slot="end" name="contrast"></ion-icon>
    </ion-range>
</ion-item>
