<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'PAGES.USER' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="showSpinner" name="crescent"></ion-spinner>
  <div class="user-list" *ngIf="!showSpinner">
    <ion-list>
      <ion-item  *ngFor="let user of users" (click)="editUser(user.id)">
        <ion-avatar slot="start">
          <img src="">
        </ion-avatar>
        <ion-label>
          <h2>{{ user.name }}</h2>
          <h3>{{ user.favoriteCarObj.name }}</h3>
          <p>{{ user.favoriteCarObj.manufacturer }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="openCreateModal()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
