// Material Design

// primary: 
$md-primary: #1565c0;
$md-primary-light: #5e92f3;
$md-primary-dark: #003c8f;
$md-primary-text: #ffffff;

$secondary: #4fc3f7;
$secondary-light: #8bf6ff;
$secondary-dark: #0093c4;
$secondary-text: #000000;